<div class="box">
    <p class="title is-1">Linked Movie Search</p>
    <div class="container">
        <article class="is-size-3 has-text-centered">
            Linked Movie Search Engine(LMSE) is a python application written using Flask, SPARQLWrapper libraries.
        </article>
        <article class="media is-size-5 has-text-centered">
            It provides search functionality based on the name of a movie, an actors or a director. It uses SPARQL to query 
            WikiData RDF repository to fetch the required details based on the search term and type. The results are obtained
            via the SPARQLWrapper library and then fed to the python backend built using Flask library. The UI is built using 
            Bulma CSS Library.
       </article>
    </div>

</div>